<ion-content>
  <ion-card class="basicInputForm">
    <br>
    <ion-card-title style="text-align: center;"><strong>Finialize Quote</strong></ion-card-title>
    <br>
    <ion-card-content>
      <ion-label style="color: black;"><b>Client: </b><i>{{ clientObj.cName }}</i></ion-label> <br>
      <div>
        <ion-list>
          <ion-item>
            <div class="Row">
              <div class="Column">
                <ion-text center><b>Service</b></ion-text>
              </div>
              <div class="Column">
                <ion-text class="price"><b>Price</b></ion-text>
              </div>
            </div>
          </ion-item>
          <ion-item *ngFor="let service of selectedServiceList">
            <div class="Row">
              <div class="Column">
                <ion-text center>{{service.selectedService}}</ion-text>
              </div>
              <div class="Column">
                <ion-text class="price" style="text-align: right;">$ {{service.totalCost}}</ion-text>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <div class="Row">
              <div class="Column">
                
              </div>
              <div class="Column">
                <ion-text style="text-align: right;"><b>Total: &nbsp; &nbsp; &nbsp; $ {{total}}</b></ion-text>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <ion-label>Markup % : </ion-label>
            <ion-input type="text" [(ngModel)]="markup" name="markupPct"></ion-input>
            <ion-button class="updateBtn" ion-button type="submit" color="success" (click)="calcTotalWithMarkup()">
              Update</ion-button>
          </ion-item>
        </ion-list>
        <br><br>
        <ion-button ion-button type="submit" color="success" block (click)="saveQuoteData()" [routerLink]="['/']">Submit</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>