ion-content {
    --background: url('../../../../assets/images/background.png') 0 0/100% 100% no-repeat;
  }
  
  ion-card {
    --ion-background-color: rgba(255,255,255,0.6);
  }
  
  ion-card-content {
    --ion-background-color: rgba(255,255,255,0.00);
  }
  
  .basicInputForm {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 50px;
    padding-top: 15px;
  }

  .price {
    margin-left: 75px;
  }

  .Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
}

  ion-button {
    width: 100%;
  }

  .updateBtn {
    width: 25%;
  }

