<ion-header style="opacity: 1;">
  <ion-toolbar>
    <ion-title><b>Modify Franchisee</b></ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="basicInputForm">
    <br>
    <ion-card-title style="text-align: center;"><strong>Modify Franchisee</strong></ion-card-title>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-input type="text" [(ngModel)]="name" name="franchiseeName"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Username:</ion-label>
          <ion-input type="text" [(ngModel)]="username" name="uName"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Password: </ion-label>
          <ion-input type="password" [(ngModel)]="password" name="pWord"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Confirm Password:</ion-label>
          <ion-input type="password" [(ngModel)]="confirm" name="confirmPWord"></ion-input>
        </ion-item>
        <br>
        <ion-item>
        
          <ion-label>Admin:</ion-label>

              <label class="container">Yes
              <input type="radio" name="administrator" slot="start" [(ngModel)]="isAdmin" [value]="true">
              <span class="checkmark"></span>
              </label>
            
            
              <label class="container">No
              <input type="radio" name="administrator" slot="start" [(ngModel)]="isAdmin" [value]="false" >
              <span class="checkmark"></span>
              </label>
       
        </ion-item>
        <br>
        <ion-item>
        
          <ion-label>Active:</ion-label>
            
              <label class="container">Yes
              <input type="radio" name="active" slot="start" [(ngModel)]="isActive" [value]="true">
              <span class="checkmark"></span>
              </label>
           
             
              <label class="container">No
              <input type="radio" name="active" slot="start" [(ngModel)]="isActive" [value]="false">
              <span class="checkmark"></span>
              </label>
            
            </ion-item>
        
      </ion-list><br>
      <div id="saveBtn" style="text-align: center;">
        <ion-button ion-button type="submit" block (click)="onSave()">Save</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
