<ion-header>
</ion-header>

<ion-content>
  <ion-card class="basicInputForm">
    <br><br>
    <ion-card-title style="text-align: center;"><strong>Login</strong></ion-card-title>
    <br>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Username: </ion-label>
          <ion-input type="text" [(ngModel)]="username" name=""></ion-input> 
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Password: </ion-label>
          <ion-input type="Password" [(ngModel)]="password" name=""></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <div id="loginBtn" style="text-align: center;">
        <ion-button ion-button type="submit" block (click)="onLoginClick()">Login</ion-button>
      </div>
      <div id="forgetPassBtn" style="text-align: center;">
        <ion-button ion-button type="submit" block (click)="ForgotPassword()">Forgot Password?</ion-button>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>
