<ion-content [fullscreen]="true">
  <ion-card class="basicInputForm">
    <br>
    <ion-card-title style="text-align: center;"><strong>Add Client</strong></ion-card-title>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-input type="text" [(ngModel)]="cName" name="clientName"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Address:</ion-label>
          <ion-input type="text" [(ngModel)]="cAddress" name="clientAddress"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>City: </ion-label>
          <ion-input type="text" [(ngModel)]="cCity" name="clientCity"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Phone Number:</ion-label>
          <ion-input type="text" [(ngModel)]="cPhoneNum" name="clientPhoneNum"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input type="text" [(ngModel)]="cEmail" name="clientEmail"></ion-input>
        </ion-item>
      </ion-list><br>
      <div id="saveBtn" style="text-align: center;">
        <ion-button ion-button type="submit" block (click)="onSave()">Next</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>