<ion-header [translucent]="true">

<ion-content [fullscreen]="true">
  <ion-card class="basicInputForm">
    <ion-card-title style="text-align: center;"><strong>Quote History</strong></ion-card-title>
    <ion-card-content>
      <ion-button (click)="viewQuoteHistory()" color="success">Refresh</ion-button>
    </ion-card-content>
  </ion-card> 
    <div *ngFor="let quote of QuoteInfo">
      <ion-card *ngFor="let q of quote" class="basicInputForm">
        <ion-card-content>
          <strong>
          <ion-card-title style="text-align: center;"><strong>Quote Information</strong></ion-card-title><br>
          <ion-label>Client: {{q.client.cName}} </ion-label><br>
          <ion-label>Address: {{q.client.cAddress}} </ion-label><br>
          <ion-label>Selected Services: </ion-label> <ion-label *ngFor="let service of q.services">{{service.selectedService}}, </ion-label><br>
          <ion-label>Total: $ {{q.total}}</ion-label><br>
          <br>
          </strong>
          <ion-button (click)="selectQuoteToEdit(q)" color="success">Modify Client</ion-button>
        </ion-card-content>
      </ion-card>
    </div>    
    
</ion-content>
