<ion-header style="opacity: 1;">
  <ion-toolbar>
    <ion-title style="margin-top: 20px ;"><b>Quote History</b></ion-title>
      <ion-buttons slot="start">
      </ion-buttons>&nbsp;
      <ion-buttons slot="end">
        <!-- <ion-button (click)="getAllFranchisees()" style="background-color: blue;" slot="end">Refresh</ion-button> -->
        <div>
          <ion-icon (click)="spinnerFunction(user)" name="reload-outline" style="margin-right: 20px; width: 30px; height: 30px;"></ion-icon>
          <ion-spinner name="dots" *ngIf="show" style="margin-right: 30px;"></ion-spinner>
        </div>
        
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div *ngFor="let quote of QuoteInfo">
      <ion-card *ngFor="let q of quote" class="basicInputForm">
        <ion-card-content>
          <strong>
          <ion-card-title style="text-align: center;"><strong>Quote Information</strong></ion-card-title><br>
          <ion-label>Client: {{q.client.cName}} </ion-label><br>
          <ion-label>Address: {{q.client.cAddress}} </ion-label><br>
          <ion-label>Selected Services: </ion-label> <ion-label *ngFor="let service of q.services">{{service.selectedService}}, </ion-label><br>
          <ion-label>Total: $ {{q.total}}</ion-label><br>
          <br>
          </strong>
          <ion-button (click)="selectQuoteToEdit(q)">Modify Client</ion-button>
        </ion-card-content>
      </ion-card>
    </div>    
    
</ion-content>
