<ion-header style="opacity: 1;">
  <ion-toolbar>
    <ion-title><b>Disable Franchisee</b></ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="basicInputForm">
    <br>
    <ion-card-content>
      <ion-item>
        <ion-label>Select a franchisee:</ion-label><br>
        <div class="selector">
          <div *ngFor="let user of users" >
            <ion-select interface="popover" [(ngModel)]="selectedUser">
            <ion-select-option *ngFor="let u of user" value="{{u.username}}">
              {{u.name}}
            </ion-select-option>
          </ion-select>         
          </div>
          
      </div>
      
      </ion-item><br><br><br>
      <ion-button (click)="onSubmit()">Submit</ion-button>
      <br />

    </ion-card-content>
  </ion-card>
</ion-content>
