<ion-header style="opacity: 1;">
  <ion-toolbar style="display: inline;">
    <ion-title>View Franchisees</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>&nbsp;
      <ion-button (click)="viewQuoteHistory()" color="success">Refresh</ion-button>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
      <div *ngFor="let franchisee of franchisees">
        <ion-card *ngFor="let f of franchisee" class="basicInputForm">
          <ion-card-content>
            <strong>
            <ion-card-title style="text-align: center;"><strong>Franchisee Information</strong></ion-card-title><br>
            <ion-label>Name: {{f.name}} </ion-label><br>
            <ion-label>Username: {{f.username}} </ion-label><br>
            <ion-label>Franchisee Id: {{f.franchiseeId}}</ion-label> <br>
            <ion-label>Email: $ {{f.email}}</ion-label><br>
            <ion-label>Active: $ {{f.active}}</ion-label><br>
            <ion-label>Admin: $ {{f.admin}}</ion-label><br>
            <br>
            </strong>
            <ion-button (click)="selectFranchiseeToEdit(f)" color="success">Modify Franchisee</ion-button>
          </ion-card-content>
        </ion-card>
      </div>    
      
  </ion-content>
  